<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>change_password</title>
</head>
<body>
    <div >
        <form  method="post" >
            <label for="fname"> enter old password :</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="lname"> enter new password:</label><br>
            <input type="text" id="password" name="password"><br>
            <label for="lname"> Confirm new password</label><br>
            <input type="text" id="password" name="password">
            <button type="submit">Login</button>
          </form>
        
    </div>
</body>
</html>